#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
}

/* Additional global styles */
body,
h1,
h2,
h3,
p {
  margin: 0; /* Removes default margins */
  padding: 0; /* Removes default padding */
}

body {
  height: 100%;
}

.master-item::before {
  content: "•";
  color: #007bff;
  margin-right: 10px;
  font-size: 1.2rem;
}
